<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>我发现你了</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/nprogress.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="css/pager.css">
    <link rel="apple-touch-icon-precomposed" href="images/frame/icon.png">
    <link rel="shortcut icon" href="images/frame/favicon.ico">
    <script src="js/plugins/nprogress.js"></script>
    <script src="js/plugins/jquery-2.1.4.min.js"></script>
    <script src="js/plugins/jquery.lazyload.min.js"></script>
    <script src="js/plugins/vue.js" type="text/javascript"></script>
</head>
<body class="user-select">
<div id="main">
    <header class="header">
        <nav class="navbar navbar-default" id="navbar">
            <div class="container">
                <div class="header-topbar hidden-xs link-border">
                    <ul class="site-nav topmenu">
                        <li><a href="#" rel="nofollow">欢迎 {{user.userName}}</a></li>
                        <li><a href="#" title="RSS订阅"><i class="fa fa-rss"></i> 个人中心</a></li>
                    </ul>
                    不靠谱青年男女聚集地
                </div>
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#header-navbar" aria-expanded="false"><span class="sr-only"></span> <span
                                class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
                    </button>
                    <h1 class="logo hvr-bounce-in"><a href="#" title="木庄网络博客"><img
                                    src="images/frame/201610171329086541.png"
                                    alt="木庄网络博客"></a></h1>
                </div>
                <div class="collapse navbar-collapse" id="header-navbar">
                    <div style="float: left">
                        <img style="width: 50px;height: 50px;margin-left: 20px" src="images/frame/gonggao.png">
                    </div>
                    <div style="">
                        <marquee scrollamount=5>Tips:&nbsp;{{declare}}</marquee>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <section class="container">
        <aside class="sidebar">
            <div class="fixed">
                <div class="widget widget-tabs">
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#notice" aria-controls="notice" role="tab"
                                                                  data-toggle="tab">我在这里</a></li>
                        <li role="presentation"><a href="#contact" aria-controls="contact" role="tab"
                                                   data-toggle="tab">详细信息</a></li>
                    </ul>
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane contact active" id="notice">
                            <div style="width: auto;height: 105px;">
                                &nbsp;&nbsp;&nbsp;<img style="width: 85px;height: 85px;float: left"
                                                       src="images/head.jpg" alt="找不到头像了"/>
                                <p style="font-size: 15px">用户名:&nbsp; &nbsp;{{user.userName}}</p>
                                <p style="font-size: 15px">昵称:&nbsp; &nbsp;{{user.nick}}</p>
                                <p style="font-size: 15px">吧龄:&nbsp; &nbsp;{{user.age}}岁</p>
                            </div>
                            <div>
                                <span id="sitetime">我加入的贴吧:&nbsp;<span
                                            v-for="(c,i) in userClub"><a style="color: #31b0d5"
                                                                         :href="'club.html?uuid='+c.clubUuid">{{c.clubName}}&nbsp;&nbsp;</a></span>...</span>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane contact" id="contact">
                            <h2>发帖数:{{user.postNum}}
                            </h2>
                            <h2>评论数:{{user.commentNum}}
                        </div>
                    </div>
                </div>
                <div class="widget widget_search">
                    <div class="input-group">
                    </div>
                </div>
            </div>
            <div class="widget widget_hot">
                <h3>菜单</h3>
                <ul>
                    <li><a class="selfMenu" name="selfInfo" @click="_menu(1)" title="个人信息">个&nbsp;&nbsp;人&nbsp;&nbsp;信&nbsp;&nbsp;息</a>
                    </li>
                    <li><a class="selfMenu" name="selfClub" @click="_menu(2)" title="我加入的论坛">我加入的论坛</a></li>
                    <li><a class="selfMenu" name="selfArticle" @click="_menu(3)" title="我发表的文章">我发表的文章</a></li>
                    <li><a class="selfMenu" name="selfComment" @click="_menu(4)" title="我发布的评论">我发布的评论</a></li>
                </ul>
            </div>
            <div class="widget">
                <h3>实时热榜（第{{topNum}}期）</h3>
                <ul>
                    <li style="margin-left: 25%;margin-top: 5px" v-for="(t,i) in tops">
                        <a :href="'show.html?uuid=' + t.articleUuid" :title="t.articleTitle" target="_blank">{{i+1}}:&nbsp;&nbsp;{{t.articleTitle}}</a></li>
                </ul>
            </div>

            <div class="widget widget_sentence">
                <h3>广告位招租</h3>
                <a  target="_blank" rel="nofollow" title="广告位">
                    <img style="width: 100%" src="images/frame/guanggaowei.jpg" alt="广告位"></a>
            </div>
            <div class="widget widget_sentence">
                <h3>友情链接</h3>
                <div class="widget-sentence-link">
                    <a href="https://www.baidu.com" title="百度" target="_blank">百度</a>&nbsp;&nbsp;&nbsp;
                    <a href="https://www.google.com" title="谷歌" target="_blank">谷歌</a>&nbsp;&nbsp;&nbsp;
                    <a href="https://www.qq.com" title="腾讯" target="_blank">腾讯</a>&nbsp;&nbsp;&nbsp;
                </div>
            </div>
        </aside>
        <div class="content-wrap">
            <div class="content">
                <div id="focusslide" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#focusslide" data-slide-to="0" class="active"></li>
                        <li data-target="#focusslide" data-slide-to="1"></li>
                    </ol>
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <a href="#" target="_blank" title="推荐">
                                <img src="images/frame/IMG_004%20(3).jpg" alt="图p不见了"
                                     class="img-responsive"></a>
                        </div>
                        <div class="item">
                            <a href="#" target="_blank" title="推荐">
                                <img src="images/frame/Kindred.jpg" alt="图p不见了" class="img-responsive"></a>
                        </div>
                    </div>
                    <a class="left carousel-control" href="#focusslide" role="button" data-slide="prev" rel="nofollow">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> <span
                                class="sr-only">上一个</span> </a> <a class="right carousel-control" href="#focusslide"
                                                                   role="button" data-slide="next" rel="nofollow"> <span
                                class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> <span
                                class="sr-only">下一个</span>
                    </a></div>
                <!--article class="excerpt-minic excerpt-minic-index">
                    <h2><span class="red">【推荐】</span><a target="_blank" href="#" title="用DTcms做一个独立博客网站（响应式模板）">用DTcms做一个独立博客网站（响应式模板）</a>
                    </h2>
                    <p class="note">用DTcms做一个独立博客网站（响应式模板），采用DTcms V4.0正式版（MSSQL）。开发环境：SQL2008R2+VS2010。DTcms
                        V4.0正式版功能修复和优化：1、favicon.ico图标后台上传。（解决要换图标时要连FTP或者开服务器的麻烦）</p>
                </article-->
                <div class="title">
                    <h3>推荐主题帖</h3>
                    <div class="more">
                        <a href="clubs.html">进入论坛页</a>
                    </div>
                </div>

                <article v-for="(a,i) in articles"  @click="goshow(a.uuid)"  class="excerpt excerpt-1" :title="a.title" style="">
                    <header>
                        <a class="cat" href="#" :title="a.typeName">{{a.typeName}}<i></i></a>
                        <h2><a href="#" title="a.title" target="_blank">{{a.title}}</a></h2>
                    </header>
                    <p class="meta">
                        <time class="time"><i class="glyphicon glyphicon-time"></i>{{a.createdAt}}</time>
                        <span class="views"><i class="glyphicon glyphicon-eye-open"></i> {{a.openNum}}</span>
                        <a class="comment" href="#" title="评论" target="_blank">
                            <i class="glyphicon glyphicon-comment"></i> {{a.num}}</a>
                        <i></i>发布人： {{a.craterNick}}
                    </p>
                    <p class="note">{{a.description}}</p>
                </article>
                <hr color="red" />
                <p v-show="isData" style="text-align: center;font-size: 20px;color:#31b0d5">这里没有数据哦</p>
            </div>
        </div>
    </section>
    <footer class="footer">
        <div class="container">
            <p>Copyright &copy; 2021.Company name All rights reserved.<a target="_blank"
                                                                         href="http://www.qiqilike.com/">www.qiqilike.com</a>
            </p>
        </div>
        <div id="gotop" @click="_gotop"><a class="gotop"></a></div>
    </footer>
</div>
<script src="js/plugins/bootstrap.min.js"></script>
<script src="js/plugins/jquery.ias.js"></script>
<script src="js/plugins/scripts.js"></script>
<script src="js/public.js"></script>
<!--script src="js/plugins/pager.js"></script-->
<script src="js/self.js"></script>
</body>
</html>
