<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>文章详情</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/nprogress.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="css/public.css">
    <link rel="stylesheet" href="css/syalert.min.css"/>
    <link rel="apple-touch-icon-precomposed" href="images/frame/icon.png">
    <link rel="shortcut icon" href="images/frame/favicon.ico">
    <script src="js/plugins/nprogress.js"></script>
    <script src="js/plugins/syalert/syalert.min.js"></script>
    <!--script src="js/plugins/inEditor.js"></script-->
    <script src="js/plugins/jquery-2.1.4.min.js"></script>
    <script src="js/plugins/jquery.lazyload.min.js"></script>
    <script src="js/plugins/vue.js" type="text/javascript"></script>

    <style>
        img {width: 40%}
    </style>
</head>
<body class="user-select">
<div id="main">
    <header class="header">
        <nav class="navbar navbar-default" id="navbar">
            <div class="container">
                <div class="header-topbar hidden-xs link-border">
                    <ul class="site-nav topmenu">
                        <li><a href="index.html" rel="nofollow">回到主页</a></li>
                        <li><a href="#" rel="nofollow">欢迎 {{user.userName}}</a></li>
                        <li><a href="#" title="个人中心"><i class="fa fa-rss"></i> 个人中心</a></li>
                        <li><a @click="_logout()" rel="nofollow">退出</a></li>
                    </ul>
                    不靠谱青年男女聚集地
                </div>
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#header-navbar" aria-expanded="false"><span class="sr-only"></span> <span
                                class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
                    </button>
                    <h1 class="logo hvr-bounce-in"><a href="index.html" title="返回首页"><img
                                    style="width: 162px;height: 42px;"
                                    src="images/frame/logo.svg"
                                    alt="返回首页"></a></h1>
                </div>
                <div class="collapse navbar-collapse" id="header-navbar">
                    <div style="float: left">
                        <img style="width: 50px;height: 50px;margin-left: 20px" src="images/frame/laba.png">
                    </div>
                    <div style="">
                        <marquee scrollamount=5>Tips:&nbsp;{{declare}}</marquee>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <section class="container">
        <div class="show-main">
            <div class="show-left">
                <div class="widget widget-tabs">
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#notice" aria-controls="notice" role="tab"
                                                                  data-toggle="tab">楼主</a></li>
                    </ul>
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane contact active" id="notice">
                            <div style="width: auto;height: 105px;float: left">
                                &nbsp;&nbsp;&nbsp;<img style="width: 85px;height: 85px;"
                                                       :src="master.headImg" alt="找不到头像了"/>
                            </div>
                            <div style="width: auto;height: 105px;">
                                <br>
                                <p class="self-info">&nbsp;&nbsp;用户名:&nbsp; &nbsp;<span
                                            class="xiaozichengse">{{master.userName}}</span></p>
                                <p class="self-info">&nbsp;&nbsp;昵称:&nbsp; &nbsp;<span
                                            class="xiaozichengse">{{master.nick}}</span></p>
                                <p class="self-info">&nbsp;&nbsp;吧龄:&nbsp; &nbsp;<span
                                            class="xiaozichengse">{{master.age}}岁</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <h3 class="show-title">{{thisArticle.title}}</h3>
                <a @click="_commentShow(null)" style="float: right">回复</a>
            </div>
            <div class="show-right">
                <div class="title">
                    <div class="more">
                        <!--a @click="_recommend()">刷新一下</a-->
                    </div>
                    <br>
                    <p v-html="thisArticle.content"></p>
                    <span class="xiaozihuise" style="float: right">发布于： {{thisArticle.createdAt}}</span>
                </div>

            </div>
        </div>

        <div v-for="(c,i) in comments" class="show-main">
            <div class="show-comment-left">
                <div class="widget widget-tabs">
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#notice" aria-controls="notice" role="tab"
                                                                  data-toggle="tab">用户</a></li>
                    </ul>
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane contact active" id="notice">
                            <div style="width: auto;height: 105px;float: left">
                                &nbsp;&nbsp;&nbsp;<img style="width: 85px;height: 85px;"
                                                       :src="c.user.headImg" alt="找不到头像了"/>
                            </div>
                            <div style="width: auto;height: 105px;">
                                <br>
                                <p class="self-info">&nbsp;&nbsp;用户名:&nbsp; &nbsp;<span
                                            class="xiaozichengse">{{c.user.userName}}</span></p>
                                <p class="self-info">&nbsp;&nbsp;昵称:&nbsp; &nbsp;<span
                                            class="xiaozichengse">{{c.user.nick}}</span></p>
                                <p class="self-info">&nbsp;&nbsp;吧龄:&nbsp; &nbsp;<span
                                            class="xiaozichengse">{{c.user.age}}岁</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="show-comment-right">
                &nbsp;&nbsp;<p style="font-size: 20px">{{c.content}} &nbsp;&nbsp;&nbsp;&nbsp;
                    <a @click="_like(c.uuid)" style="font-size: 15px">点赞</a>:&nbsp;<span :id="c.uuid" class="xiaozichengse">{{c.like}}</span>
                    <a @click="_commentShow(c.uuid)" style="font-size:10px;float: right;position: relative;top: 5px;">点击回复</a></p>
                <div v-for="(sm, i) in c.sonComment" class="comment-two" style="margin-left:30px;width: auto;height: 50px;margin-top: 5px">
                    <div style="position:relative;height: 50px">
                        <img style="width: 50px;height: 50px;" :title="sm.user.nick" :src="sm.user.headImg">：&nbsp;{{sm.content}}
                        <span class="xiaozihuise" style="font-size:10px;float: right;position: relative;bottom: -20px;">回复于：&nbsp;{{sm.createdAt}}</span>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <footer class="footer">
        <div class="container">
            <p>Copyright &copy; 2021.Company name All rights reserved.<a target="_blank"
                                                                         href="http://www.qiqilike.com/">www.qiqilike.com</a>
            </p>
        </div>
        <div id="gotop" @click="_gotop"><a class="gotop"></a></div>
    </footer>

    <div class="sy-alert sy-alert-model animated" sy-enter="zoomIn" sy-leave="zoomOut" sy-type="confirm" sy-mask="true"
         id="comment">
        <div class="sy-title">评论内容</div>
        <div class="sy-content">
            <div class="form">
                <p class="input-item">
                    <textarea id="commentContent" style="width: 100%;height: 100%" rows="5" placeholder="评论内容...">
                    </textarea></p>
            </div>
        </div>
        <div class="sy-btn">
            <button onClick="syalert.syhide('comment')">取消</button>
            <button @click="_comment()">提交</button>
        </div>
    </div>

</div>
<script src="js/plugins/bootstrap.min.js"></script>
<script src="js/plugins/jquery.ias.js"></script>
<script src="js/plugins/scripts.js"></script>
<script src="js/public.js"></script>
<!--script src="js/plugins/pager.js"></script-->
<script src="js/show.js"></script>
</body>
</html>
